/* Display Page Styles */

.displayPage {
    width: 100vw;
    height: 100vh;
    background: black;
    overflow: hidden;
    position: relative;
}

.displayStage {
    position: relative;
    width: 100%;
    height: 100%;
}

.displayScreen {
    position: absolute;
    overflow: hidden;
}

.displayScreen img {
    width: 100%;
    height: 100%;
    object-fit: contain;
    transition: opacity 0.5s ease-in-out;
}